In [46]:
import pandas as pd
import numpy as np

In [38]:
populations = {"Ohio": {2000: 1.5, 2001: 1.7, 2002:3.6},
"Nevada": {2001:2.4,2002:2.9}}
df = pd.DataFrame(populations)
df

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4
2002   3.6     2.9

In [43]:
df1.index.name = 'index'
df1.columns.name = 'columns'
df1

columns,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
index,,,,,,,,,,,,,,,,,,,,
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705566,2018-06-30,토,6,26,146297344,정상회원,수산,건어물,멸치류,국물멸치(300g),1.0,수지구,성복동,여,51.0,50대,9189,매장A,NaN,17:56
705567,2018-06-30,토,6,26,1532985472,정상회원,수산,해조,미역/다시마,자른다시마(100g),1.0,수지구,동천동,여,63.0,60대,5169,매장A,NaN,14:37
705568,2018-06-30,토,6,26,1532985472,정상회원,반찬,두부/유부,두부,두부(1모:420g),2.0,수지구,동천동,여,63.0,60대,7466,매장A,NaN,14:37
705569,2018-06-30,토,6,26,1209779776,정상회원,간식,과자,스낵,하늘바다새우(60g),1.0,수지구,동천동,여,41.0,40대,3542,매장A,NaN,18:04
705570,2018-06-30,토,6,26,301961920,정상회원,음료,음료,빙과,포도꽁꽁(120ml)/매장용,1.0,수지구,풍덕천동,여,49.0,40대,1914,매장A,NaN,16:36

In [44]:
df1.to_numpy()

array([['2018-01-02', '화', 1, ..., '매장C', nan, '10:04'],
       ['2018-01-02', '화', 1, ..., '매장C', nan, '10:05'],
       ['2018-01-02', '화', 1, ..., '매장C', nan, '10:05'],
       ...,
       ['2018-06-30', '토', 6, ..., '매장A', nan, '14:37'],
       ['2018-06-30', '토', 6, ..., '매장A', nan, '18:04'],
       ['2018-06-30', '토', 6, ..., '매장A', nan, '16:36']], dtype=object)

In [2]:
df1 = pd.read_csv("example.csv")

In [3]:
df1.head()

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09

In [27]:
df1.tail()

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
705566,2018-06-30,토,6,26,146297344,정상회원,수산,건어물,멸치류,국물멸치(300g),1.0,수지구,성복동,여,51.0,50대,9189,매장A,NaN,17:56
705567,2018-06-30,토,6,26,1532985472,정상회원,수산,해조,미역/다시마,자른다시마(100g),1.0,수지구,동천동,여,63.0,60대,5169,매장A,NaN,14:37
705568,2018-06-30,토,6,26,1532985472,정상회원,반찬,두부/유부,두부,두부(1모:420g),2.0,수지구,동천동,여,63.0,60대,7466,매장A,NaN,14:37
705569,2018-06-30,토,6,26,1209779776,정상회원,간식,과자,스낵,하늘바다새우(60g),1.0,수지구,동천동,여,41.0,40대,3542,매장A,NaN,18:04
705570,2018-06-30,토,6,26,301961920,정상회원,음료,음료,빙과,포도꽁꽁(120ml)/매장용,1.0,수지구,풍덕천동,여,49.0,40대,1914,매장A,NaN,16:36

In [31]:
df1['새로운 열'] = None
df1.head()

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,...,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각,새로운 열
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),...,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04,None
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),...,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05,None
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),...,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05,None
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),...,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08,None
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,...,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09,None

In [32]:
del df1['새로운 열']
df1.head()

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09

In [40]:
df1.T.head()

,0,1,2,3,4,5,6,7,8,9,...,705561,705562,705563,705564,705565,705566,705567,705568,705569,705570
공급일자,2018-01-02,2018-01-02,2018-01-02,2018-01-02,2018-01-02,2018-01-02,2018-01-02,2018-01-02,2018-01-02,2018-01-02,...,2018-06-30,2018-06-30,2018-06-30,2018-06-30,2018-06-30,2018-06-30,2018-06-30,2018-06-30,2018-06-30,2018-06-30
요일,화,화,화,화,화,화,화,화,화,화,...,토,토,토,토,토,토,토,토,토,토
공급월,1,1,1,1,1,1,1,1,1,1,...,6,6,6,6,6,6,6,6,6,6
공급주차,1,1,1,1,1,1,1,1,1,1,...,26,26,26,26,26,26,26,26,26,26
회원번호,272369856,1506656256,1506656256,1023108864,1476143616,716128320,743192512,743192512,743192512,743192512,...,1333795840,58484416,1278913920,1278913920,867143616,146297344,1532985472,1532985472,1209779776,301961920

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705571 entries, 0 to 705570
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   공급일자      705571 non-null  object
 1   요일        705571 non-null  object
 2   공급월       705571 non-null  int64
 3   공급주차      705571 non-null  int64
 4   회원번호      705571 non-null  int64
 5   조합원상태     705571 non-null  object
 6   물품대분류     705571 non-null  object
 7   물품중분류     705571 non-null  object
 8   물품소분류     705571 non-null  object
 9   물품명       705571 non-null  object
 10  구매수량      705571 non-null  float64
 11  주소-구      705571 non-null  object
 12  주소-동      705571 non-null  object
 13  성별        705566 non-null  object
 14  연령        705538 non-null  float64
 15  연령대       705538 non-null  object
 16  구매금액      705571 non-null  int64
 17  구매매장      705571 non-null  object
 18  반품_원거래일자  11234 non-null   float64
 19  구매시각      705571 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 107.7+ MB

In [5]:
df1.describe()

,공급월,공급주차,회원번호,구매수량,연령,구매금액,반품_원거래일자
count,705571.000000,705571.000000,7.055710e+05,705571.000000,705538.000000,7.055710e+05,1.123400e+04
mean,3.510817,13.500022,7.390639e+08,1.138203,50.756234,1.092004e+04,2.018034e+07
std,1.719153,7.517818,4.251288e+08,0.754448,11.418854,1.670323e+04,5.229237e+02
min,1.000000,1.000000,1.876416e+07,-50.000000,1.000000,-6.662160e+05,2.017121e+07
25%,2.000000,7.000000,3.906917e+08,1.000000,42.000000,4.116000e+03,2.018021e+07
50%,4.000000,13.000000,7.456573e+08,1.000000,49.000000,7.275000e+03,2.018040e+07
75%,5.000000,20.000000,1.045186e+09,1.000000,58.000000,1.263500e+04,2.018052e+07
max,6.000000,26.000000,1.670621e+09,50.000000,108.000000,2.751014e+06,2.018063e+07

In [6]:
df1.isnull()

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705566,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
705567,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
705568,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
705569,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
705570,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [7]:
df1.isnull().sum()

공급일자             0
요일               0
공급월              0
공급주차             0
회원번호             0
조합원상태            0
물품대분류            0
물품중분류            0
물품소분류            0
물품명              0
구매수량             0
주소-구             0
주소-동             0
성별               5
연령              33
연령대             33
구매금액             0
구매매장             0
반품_원거래일자    694337
구매시각             0
dtype: int64

In [8]:
df1.columns

Index(['공급일자', '요일', '공급월', '공급주차', '회원번호', '조합원상태', '물품대분류', '물품중분류', '물품소분류',
       '물품명', '구매수량', '주소-구', '주소-동', '성별', '연령', '연령대', '구매금액', '구매매장',
       '반품_원거래일자', '구매시각'],
      dtype='object')

In [9]:
df1['구매금액'].head().sum()
#위 5명의 구매금액 합

39436

In [10]:
df1['구매금액'].describe()

count    7.055710e+05
mean     1.092004e+04
std      1.670323e+04
min     -6.662160e+05
25%      4.116000e+03
50%      7.275000e+03
75%      1.263500e+04
max      2.751014e+06
Name: 구매금액, dtype: float64

In [11]:
df1[['구매금액', '성별']].tail()

        구매금액 성별
705566  9189  여
705567  5169  여
705568  7466  여
705569  3542  여
705570  1914  여

In [12]:
df1.iloc[0:11]

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09
5,2018-01-02,화,1,1,716128320,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,51.0,50대,7083,매장C,NaN,10:10
6,2018-01-02,화,1,1,743192512,정상회원,채소,과일채소,딸기,딸기/(500g),1.0,수지구,성복동,여,51.0,50대,17038,매장C,NaN,10:12
7,2018-01-02,화,1,1,743192512,정상회원,채소,잎/줄기채소,어린잎채소,어린잎채소(100g),2.0,수지구,성복동,여,51.0,50대,11104,매장C,NaN,10:12
8,2018-01-02,화,1,1,743192512,정상회원,채소,양념채소,생강,생강(300g),1.0,수지구,성복동,여,51.0,50대,7083,매장C,NaN,10:12
9,2018-01-02,화,1,1,743192512,정상회원,채소,쌈채소류,쌈케일,쌈케일(150g),1.0,수지구,성복동,여,51.0,50대,2584,매장C,NaN,10:12
10,2018-01-02,화,1,1,1177875136,정상회원,채소,뿌리채소,연근,통연근/세척(400g),1.0,수지구,풍덕천동,여,34.0,30대이하,7179,매장C,NaN,10:19

In [13]:
df1.loc[::-1].tail()

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04

In [14]:
df1.sort_values(by='구매금액').head()

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
157876,2018-02-09,금,2,6,1529962048,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-4.0,수지구,풍덕천동,남,29.0,30대이하,-666216,매장C,20180206.0,16:59
181579,2018-02-14,수,2,7,747242304,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-4.0,수지구,신봉동,여,54.0,50대,-666216,매장C,20180206.0,14:06
144210,2018-02-06,화,2,6,747242304,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,신봉동,여,54.0,50대,-499662,매장C,20180206.0,16:42
142077,2018-02-06,화,2,6,307284928,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,풍덕천동,여,53.0,50대,-499662,매장C,20180206.0,18:52
145272,2018-02-06,화,2,6,1031186176,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,풍덕천동,여,51.0,50대,-499662,매장C,20180206.0,16:04

In [15]:
df1.sort_values(by='구매금액', ascending=False).tail()

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
144210,2018-02-06,화,2,6,747242304,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,신봉동,여,54.0,50대,-499662,매장C,20180206.0,16:42
145272,2018-02-06,화,2,6,1031186176,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,풍덕천동,여,51.0,50대,-499662,매장C,20180206.0,16:04
142077,2018-02-06,화,2,6,307284928,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,풍덕천동,여,53.0,50대,-499662,매장C,20180206.0,18:52
181579,2018-02-14,수,2,7,747242304,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-4.0,수지구,신봉동,여,54.0,50대,-666216,매장C,20180206.0,14:06
157876,2018-02-09,금,2,6,1529962048,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-4.0,수지구,풍덕천동,남,29.0,30대이하,-666216,매장C,20180206.0,16:59

In [16]:
df1.sort_values(by=['구매금액', '연령']).head()
#구매수량 먼저 오름차순 정렬 이후 연령으로 오름차순 정렬

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
157876,2018-02-09,금,2,6,1529962048,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-4.0,수지구,풍덕천동,남,29.0,30대이하,-666216,매장C,20180206.0,16:59
181579,2018-02-14,수,2,7,747242304,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-4.0,수지구,신봉동,여,54.0,50대,-666216,매장C,20180206.0,14:06
145272,2018-02-06,화,2,6,1031186176,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,풍덕천동,여,51.0,50대,-499662,매장C,20180206.0,16:04
680788,2018-06-25,월,6,26,153886528,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,풍덕천동,여,52.0,50대,-499662,매장A,20180625.0,11:11
142077,2018-02-06,화,2,6,307284928,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,풍덕천동,여,53.0,50대,-499662,매장C,20180206.0,18:52

In [17]:
df1.sort_values(by=['구매금액', '연령'], ascending=[False, True]).iloc[:10]
#구매수량 먼저 오름차순 정렬 이후 연령으로 내림차순 정렬

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
182163,2018-02-14,수,2,7,854303808,정상회원,채소,뿌리채소,산양삼,산양삼/7년근이상(5주),6.0,수지구,풍덕천동,여,52.0,50대,2751014,매장B,NaN,12:36
208148,2018-02-23,금,2,8,742461248,정상회원,양념/가루,장,메주,메주(1말:약6-7kg:솔뫼),9.0,분당구,정자동,남,106.0,70대이상,1688514,매장D,NaN,11:30
127674,2018-02-02,금,2,5,938963392,정상회원,간식,과자,한과/유과,한과모음3(1.2kg),20.0,수지구,상현동,여,40.0,40대,1588964,매장B,NaN,16:22
155255,2018-02-09,금,2,6,236805184,정상회원,건강,건강일반,건강/기타,홍삼/도라지절편모음(각 20g*5개),17.0,수지구,상현동,여,39.0,30대이하,1448255,매장B,NaN,12:17
585654,2018-06-01,금,6,22,153723200,정상회원,채소,버섯,상황버섯,린테우스상황버섯(200g/유),5.0,수지구,동천동,여,52.0,50대,1445383,매장A,NaN,18:13
150443,2018-02-08,목,2,6,269246208,정상회원,축산물,중량(정육),한우(중량),등심로스-성남용인,2.0,수지구,풍덕천동,여,47.0,40대,1180828,매장C,NaN,18:56
682786,2018-06-25,월,6,26,88759488,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),7.0,수지구,동천동,여,63.0,60대,1165878,매장A,NaN,10:22
128769,2018-02-02,금,2,5,193003584,정상회원,수산,냉동수산,냉동생선,옥돔선물모음(2kg),5.0,수지구,성복동,여,64.0,60대,1009854,매장B,NaN,15:57
693051,2018-06-28,목,6,26,744714432,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),5.0,수지구,동천동,여,52.0,50대,832770,매장A,NaN,13:58
532490,2018-05-18,금,5,20,397553344,정상회원,건강,건강일반,추출/농축액,한결홍옥고(1kg),2.0,수지구,신봉동,여,62.0,60대,804054,매장D,NaN,11:36

In [18]:
cond1 = (df1['연령대'] == '40대')
cond2 = (df1['성별'] == '남')

In [19]:
df1.loc[cond1].info()

<class 'pandas.core.frame.DataFrame'>
Index: 270573 entries, 0 to 705570
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   공급일자      270573 non-null  object
 1   요일        270573 non-null  object
 2   공급월       270573 non-null  int64
 3   공급주차      270573 non-null  int64
 4   회원번호      270573 non-null  int64
 5   조합원상태     270573 non-null  object
 6   물품대분류     270573 non-null  object
 7   물품중분류     270573 non-null  object
 8   물품소분류     270573 non-null  object
 9   물품명       270573 non-null  object
 10  구매수량      270573 non-null  float64
 11  주소-구      270573 non-null  object
 12  주소-동      270573 non-null  object
 13  성별        270568 non-null  object
 14  연령        270573 non-null  float64
 15  연령대       270573 non-null  object
 16  구매금액      270573 non-null  int64
 17  구매매장      270573 non-null  object
 18  반품_원거래일자  3870 non-null    float64
 19  구매시각      270573 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 43.4+ MB

In [20]:
df1['성별'].value_counts()

성별
여    662024
남     43542
Name: count, dtype: int64

In [21]:
df1.loc[cond1 & cond2].info()

<class 'pandas.core.frame.DataFrame'>
Index: 12514 entries, 34 to 705542
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   공급일자      12514 non-null  object
 1   요일        12514 non-null  object
 2   공급월       12514 non-null  int64
 3   공급주차      12514 non-null  int64
 4   회원번호      12514 non-null  int64
 5   조합원상태     12514 non-null  object
 6   물품대분류     12514 non-null  object
 7   물품중분류     12514 non-null  object
 8   물품소분류     12514 non-null  object
 9   물품명       12514 non-null  object
 10  구매수량      12514 non-null  float64
 11  주소-구      12514 non-null  object
 12  주소-동      12514 non-null  object
 13  성별        12514 non-null  object
 14  연령        12514 non-null  float64
 15  연령대       12514 non-null  object
 16  구매금액      12514 non-null  int64
 17  구매매장      12514 non-null  object
 18  반품_원거래일자  117 non-null    float64
 19  구매시각      12514 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 2.0+ MB

In [22]:
cond3 = (df1['성별'] == '여')
cond4 = (df1['연령대'] == '30대이하')

In [23]:
df_result = df1.loc[cond3 & cond4].sort_values(by='구매금액',ascending=False).head()

In [24]:
df_result.to_csv("result.csv", encoding='cp949')
#한글이 깨지지 않는 방법

In [50]:
obj = pd.Series(np.arange(3), index=["a", "b", "c"])
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')